<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<!-- BOOTSTRAP -->#}
    {#<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">#}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>

<div class="container">

    <h1>Оплата выбраного товара </h1>
    <p>Выберете сумму и валюту оплаты </p>

    <form action="/" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label class="control-label col-sm-2" for="formGroupInputLarge">Сумма :</label>
            <div class="col-sm-10">
                <input type="number" min="0" data-bind="value:replyNumber" pattern="\d+(\.\d{2})?" step="0.01"
                       class="form-control" name="summ" id="summ" placeholder="Сумма .... " required/>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledSelect" class="col-sm-2 control-label">Валюта:</label>
            <div class="col-sm-10">
                <select id="ccy" name="sel" class="form-control">
                    {% for key,val in data.items() %}
                        <option value="{{ val }}">{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Описание товара:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="txt" id="txt" placeholder="Описание ... " required/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Оплатить</button>
            </div>
        </div>
    </form>


    <br>
</div>

<div class="container">
    <a href="/log">Show last 100 log record</a>
</div>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>#}
{#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>