<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log operations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{#<!-- BOOTSTRAP -->#}
{#<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">#}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


</head>
<body>

<div class="container">
<h1>Last 100 log records</h1>
</div>


<div class="container">
 <table class="table">
    <thead>
      <tr>
        <th>Log record ID</th>
		<th>CCY</th>
        <th>SUM</th>
        <th>Status</th>
        <th>Create date</th>
        <th>Update date</th>
		<th>Descriptions</th>
      </tr>
    </thead>
    <tbody>
        {% for item in data %}
               <tr class="success">
               <td> {{item["id"]}}</td>
               <td> {{item["ccy"]}}</td>
               <td> {{item["sum"]}}</td>
               <td> {{item["status"]}}</td>
               <td> {{item["created_at"]}}</td>
               <td> {{item["updated_at"]}}</td>
               <td> {{item["descr"]}}</td>



       </tr>
         {% endfor %}

    </tbody>
  </table>

</div>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>#}
{#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>