<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{##}
{#<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">#}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <title>Подтверждение платежа</title>
</head>
<body>




<div class="container">
    <h1>Подтверждение платежа</h1>
    <br>
    {% if text_r["result"]=='error' %}
    <p>Ошибка: {{ text_r["message"] }} </p>
    {% endif %}

   <table class="table table-bordered">
    <thead>
    </thead>
    <tbody>

         {% if text_r["result"]=='error' and   text_r["message"]=='Invalid invoice amount'  %}
          <tr class="danger">
            <td>Сумма:</td>
            <td>{{ data["summ"] }}</td>
          </tr>
            {% else %}
               <tr>
            <td>Сумма:</td>
            <td>{{ data["summ"] }}</td>
          </tr>
            {% endif %}

      <tr>
        <td>Валюта:</td>
        <td>{{ data["sel"]}}</td>
      </tr>
      <tr>
        <td>Invoice_ID/log_ID:</td>
        <td>{{ id }}</td>
      </tr>
    <tr>
        <td>Shop_ID</td>
        <td>300966</td>
      </tr>
        <tr>
        <td>Sign</td>
        <td>{{ sign }}</td>
      </tr>
        </tr>
        <tr>
        <td>Описание</td>
        <td>{{ data["txt"]}}</td>
      </tr>
    </tbody>
  </table>

    {% if text_r["result"]=='ok' and text_r["message"]=='Ok' %}
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Language:</td>
        <td>{{text_r["data"]["data"]["lang"]}}</td>
      </tr>
      <tr>
        <td>Payer_id:</td>
        <td>{{text_r["data"]["data"]["m_curorderid"]}}</td>
      </tr>

                  <tr>
        <td>History ID:</td>
        <td>{{text_r["data"]["data"]["m_historyid"]}}</td>
      </tr>
            <tr>
        <td>Amount:</td>
        <td>{{ data["summ"] }}</td>
      </tr>

            <tr>
        <td>Invoice ID:</td>
        <td>{{text_r["data"]["data"]["invoice_id"]}}</td>
      </tr>
    </tbody>
  </table>
{% endif %}
{##}
{##}
{#        <div id="resp">#}
{#        <p>respond</p>#}
{#             <p>{{ text_r }}</p>#}
{#        </div>#}

<a href="{{text_r["data"]["data"]["referer"]}}"><button>Подтвердить</button></a>
    </div>


</body>
</html>


    </div>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>#}
{#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
